{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Video qo'shish</title>{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/edit_video.css' %}">
{% endblock head %}


{% block content %}
    <form method="post" enctype="multipart/form-data">
        <h2 style="display: flex; justify-content: center; align-items: center; font-size: 24px; margin-bottom: 10px">Videoni tahrirlash</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Saqlash</button>
    </form>
{% endblock %}
