{% extends "base.html" %}
{% load static %}



{% block content %}

<section class="teacher-profile">

    <h1 class="heading">{{ teacher.user.first_name }} {{ teacher.user.last_name }} profili</h1>
 
    <div class="details">
       <div class="tutor">
          <img src="{{ teacher.user.profile.photo.url    }}" alt="Teacher photo">
          <h3>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</h3>
          <span>{{ teacher.teacher_type }}</span><br>
          <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum quas a ratione quam, et nostrum cumque! Ducimus, amet?</span>
       </div>
       <div class="flex">
          <p>kurslar soni : <span>{{ teacher.courses_num }}</span></p>
          <p>videolar soni : <span>{{ teacher.videos_num }}</span></p>
          <p>Layklar soni : <span>{{ teacher.likes_num }}</span></p>
          <p>Izohlar soni : <span>{{ teacher.comments_num }}</span></p>
       </div>
    </div>
 
 </section>
 
 <section class="courses">
 
    <h1 class="heading">our courses</h1>
 
    <div class="box-container">
 
       <div class="box">
          <div class="thumb">
             <img src="{% static 'images/thumb-1.png' %}" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete HTML tutorial</h3>
          <a href="playlist.html" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="{% static 'images/thumb-2.png' %}" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete CSS tutorial</h3>
          <a href="playlist.html" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="{% static 'images/thumb-3.png' %}" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete javascript tutorial</h3>
          <a href="playlist.html" class="inline-btn">view playlist</a>
       </div>
 
       <div class="box">
          <div class="thumb">
             <img src="{% static 'images/thumb-4.png' %}" alt="">
             <span>10 videos</span>
          </div>
          <h3 class="title">complete Boostrap tutorial</h3>
          <a href="playlist.html" class="inline-btn">view playlist</a>
       </div>
 
    </div>
 
 </section>

{% endblock content %}