{% extends "base.html" %}
{% load static %}

{% block title %}<title>Yangi O'qituvchi Qo'shish</title>{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/add_teacher.css' %}">
{% endblock head %}

{% block content %}
<form method="post">
    <h2 style="display: flex; justify-content: center; align-items: center; font-size: 24px; margin-bottom: 10px">Yangi O'qituvchi Qo'shish</h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Saqlash</button>
</form>
{% endblock %}
