{% extends "base.html" %}
{% block title %}<title>Kirish</title>{% endblock title %}

{% block content %}

<section class="form-container">

    <form action="{% url 'login' %}" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       <h3>Saytga kiring</h3>
       <p>Username <span>*</span></p>
       <input type="text" name="username" placeholder="username ni kiriting..." required maxlength="50" class="box">
       <p>Parol <span>*</span></p>
       <input type="password" name="password" placeholder="parolni kiriting..." required maxlength="20" class="box">
       <input type="submit" value="login new" name="submit" class="btn">
    </form>

 </section>

 {% if messages %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    {% for message in messages %}
      Swal.fire({
        position: 'center',
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        showConfirmButton: false,
        timer: 1500
      });
    {% endfor %}
  </script>
{% endif %}

{% endblock content %}
