{% extends "base.html" %}
{% load static %}

{% block title %}<title>Success</title>{% endblock title %}

{% block content %}

<div class="password-change-done">
    <div class="password-change-done-content">
        <div class="success-checkmark">
            <div class="check-icon">
              <span class="icon-line line-tip"></span>
              <span class="icon-line line-long"></span>
              <div class="icon-circle"></div>
              <div class="icon-fix"></div>
            </div>
          </div>
          <center>
            <button id="restart">Parolingiz muvaffaqiyatli yangilandi</button>
          </center>
          <a href="{% url "home_page" %}" class="btn">Asosiy sahifaga qaytish</a>
    </div>
</div>

{% endblock content %}