{% extends "base.html" %}
{% load static %}
{% block title %}<title>Dashboard</title>{% endblock title %}

{% block content %}

<section class="user-profile">

    <h1 class="heading">your profile</h1>
 
    <div class="info">
 
       <div class="user">
         {% if user.profile.photo %}
         <img src="{{ user.profile.photo.url }}" alt="">
         {% endif %}
          <h3>{{ user.first_name }} {{ user.last_name }}</h3>
          <p>{{ user.email }}</p>
          <p>{{ user.profile.job }}</p>
          <a href="{% url "edit_user_profile" %}" class="inline-btn">profilni tahrirlash</a>
          <a href="{% url "password_change" %}" class="inline-btn" id="btn-signup">Parolni almashtirish</a>
       </div>
    
       <div class="box-container">
    
          <div class="box">
             <div class="flex">
                <i class="fas fa-bookmark"></i>
                <div>
                   <span>4</span>
                   <p>saved playlist</p>
                </div>
             </div>
             <a href="#" class="inli{% extends "base.html" %}
             {% load static %}
             {% block title %}<title>Dashboard</title>{% endblock title %}
             
             {% block content %}
             
             <section class="user-profile">
             
                 <h1 class="heading">your profile</h1>
              
                 <div class="info">
              
                    <div class="user">
                      {% if user.profile.photo %}
                      <img src="{{ user.profile.photo.url }}" alt="">
                      {% endif %}
                       <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                       <p>{{ user.email }}</p>
                       <p>{{ user.profile.job }}</p>
                       <a href="{% url "edit_user_profile" %}" class="inline-btn">profilni tahrirlash</a>
                       <a href="{% url "password_change" %}" class="inline-btn" id="btn-signup">Parolni almashtirish</a>
                    </div>
                 
                    <div class="box-container">
                 
                       <div class="box">
                          <div class="flex">
                             <i class="fas fa-bookmark"></i>
                             <div>
                                <span>4</span>
                                <p>saved playlist</p>
                             </div>
                          </div>
                          <a href="#" class="inline-btn">view playlists</a>
                       </div>
                 
                       <div class="box">
                          <div class="flex">
                             <i class="fas fa-heart"></i>
                             <div>
                                <span>33</span>
                                <p>videos liked</p>
                             </div>
                          </div>
                          <a href="#" class="inline-btn">view liked</a>
                       </div>
                 
                       <div class="box">
                          <div class="flex">
                             <i class="fas fa-comment"></i>
                             <div>
                                <span>12</span>
                                <p>videos comments</p>
                             </div>
                          </div>
                          <a href="#" class="inline-btn">view comments</a>
                       </div>
                 
                    </div>
                 </div>
              
              </section>
             
             {% endblock content %}ne-btn">view playlists</a>
          </div>
    
          <div class="box">
             <div class="flex">
                <i class="fas fa-heart"></i>
                <div>
                   <span>33</span>
                   <p>videos liked</p>
                </div>
             </div>
             <a href="#" class="inline-btn">view liked</a>
          </div>
    
          <div class="box">
             <div class="flex">
                <i class="fas fa-comment"></i>
                <div>
                   <span>12</span>
                   <p>videos comments</p>
                </div>
             </div>
             <a href="#" class="inline-btn">view comments</a>
          </div>
    
       </div>
    </div>
 
 </section>

{% endblock content %}