{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/tutor-contact.css' %}">
{% endblock head %}

{% block title %}<title>Contact | Tutor add</title>{% endblock title %}

{% block content %}

<div class="ag-format-container">
    <h1>Biz bilan ijtimoiy tarmoqlar yordamida aloqaga chiqing!</h1>
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="https://t.me/Asliddinbek_official" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Telegram
          </div>
          <div id="telegram">
            <i class="fa-brands fa-telegram"></i>
          </div>
  
          <div class="ag-courses-item_date-box">
            Biz bilan bog'laning
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://www.instagram.com/asliddinbek1229/" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Instagram
          </div>
          <div id="instagram">
            <i class="fa-brands fa-instagram"></i>
          </div>
  
          <div class="ag-courses-item_date-box">
            Biz bilan bog'laning
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="https://www.youtube.com/@Maqsudxon_Mominxonov" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Youtube
          </div>
          <div id="youtube">
            <i class="fa-brands fa-youtube"></i>
          </div>
  
          <div class="ag-courses-item_date-box">
            Biz bilan bog'laning
          </div>
        </a>
      </div>
  
    </div>
  </div>

{% endblock content %}
