{% extends "base.html" %}
{% load static %}
{% block title %}<title>Video</title>{% endblock title %}

{% block content %}

<section class="watch-video">

    <div class="video-container">
       <div class="video">
          <video controls autoplay controlsList="nodownload" oncontextmenu="return false;" poster="images/post-1-1.png" id="video">
            <source src="{{ video.video.url }}" type="video/mp4" />
        </video>
       </div>
       <h3 class="title">{{ video.name }}</h3>
       <div class="info">
          <p class="date"><i class="fas fa-calendar"></i><span>{{ video.created_at|date:"d-m-Y / H:i" }}</span></p>
          <p class="date"><i class="fas fa-heart"></i><span>{{ number_of_likes }} likes</span></p>
       </div>
       <div class="tutor">
          <img src="{{ video.subcategory.teacher.profile.photo.url }}" alt="">
          <div>
             <h3>{{ video.subcategory.teacher.user.first_name }} {{ video.subcategory.teacher.user.last_name }}</h3>
             <span>Mutahasisligi: {{ video.subcategory.teacher.teacher_type }}</span>
          </div>
       </div>
       {% if video_is_liked %}
            <form action="{% url 'like_video' video.id %}" method="get" class="flex" id="like-form">
                <a href="{% url 'playlists_view' video.subcategory.id %}" class="inline-btn">Playlistga qaytish</a>
                <button type="submit" name="like_video_id" value="{{ video.id }}"><i class="fa-solid fa-heart"></i>Unlike</button>
            </form>
        {% else %}
            <form action="{% url 'like_video' video.id %}" method="get" class="flex" id="like-form">
                <a href="{% url 'playlists_view' video.subcategory.id %}" class="inline-btn">Playlistga qaytish</a>
                <button type="submit" name="like_video_id" value="{{ video.id }}"><i class="far fa-heart" id="heart-icon"></i>Like</button>
            </form>
        {% endif %}
      
     
     
       <p class="description">
          {{ video.description }}
       </p>
    </div>
 
 </section>
 
 <section class="comments">
 
    <h1 class="heading">{{ video.comment_num }} izohlar</h1>
 
    <form class="add-comment" method="POST">
      {% csrf_token %}
      <h3>Izoh yozing</h3>
      {{ form.text }}
      <input type="submit" value="Izoh qo'shish" class="inline-btn" name="add_comment">
   </form>
  
  
 
    <h1 class="heading">O'quvchilarning fikrlari</h1>
 
    <div class="box-container">
      
      {% for comment in comments %}
      
      <div class="box">
         <div class="user">
            <img src="{{ comment.user.profile.photo.url }}" alt="">
            <div>
               <h3>{{ comment.user.first_name }} {{ comment.user.last_name }}</h3>
               <span>{{ comment.created_at|date:"d-m-Y / H:i" }}</span>
            </div>
         </div>
         <div class="comment-box">{{ comment.text }}</div>
      </div>
      {% empty %}
         <p>Hozircha izohlar yo'q.</p>
      {% endfor %}
 
    </div>
 
 </section>

{% endblock content %}