{% extends "base.html" %}
{% load static %}
{% block title %}<title>Kurslar</title>{% endblock title %}

{% block content %}

<section class="courses">

    <h1 class="heading">Bizning kurslar</h1>
 
    <div class="box-container">
      {% for course in courses %}
      
      <div class="box">
         <div class="tutor">
            <img src="{{ course.teacher.profile.photo.url }}" alt="">
            <div class="info">
               <h3>{{ course.teacher.user.first_name }} {{ course.teacher.user.last_name }}</h3>
               <span>{{ course.created_at|date:"d-m-Y / H:i" }}</span>
            </div>
         </div>
         <div class="thumb">
            <img src="{{ course.image.url }}" alt="">
            <span>{{ course.videos_count }} ta video</span>
         </div>
         <h3 class="title">{{ course.name }}</h3>
         <a href="{% url "playlists_view" course.id %}" class="inline-btn">Kursni ko'rish</a>
      </div>
      
      {% endfor %}
 
    </div>
 
 </section>

{% endblock content %}
