{% extends "base.html" %}
{% load static %}
{% block title %}<title>Playlist</title>{% endblock title %}

{% block content %}

<section class="playlist-details">

    <h1 class="heading">playlist details</h1>
 
    <div class="row">
 
       <div class="column">
          <form action="" method="post" class="save-playlist">
             <button type="submit"><i class="far fa-bookmark"></i> <span>save playlist</span></button>
          </form>
    
          <div class="thumb">
             <img src="{{ subcategory.image.url }}" alt="">
             <span>10 videos</span>
          </div>
       </div>
       <div class="column">
          <div class="tutor">
             <img src="{{ subcategory.teacher.profile.photo.url }}" alt="">
             <div>
                <h3>{{ subcategory.teacher.user.first_name }} {{ subcategory.teacher.user.last_name }}</h3>
                <span>{{ subcategory.created_at|date:"d-m-Y / H:i" }}</span>
             </div>
          </div>
    
          <div class="details">
             <h3>{{ subcategory.name }}</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum minus reiciendis, error sunt veritatis exercitationem deserunt velit doloribus itaque voluptate.</p>
             <a href="{% url "teacher_profile" subcategory.teacher.id %}" class="inline-btn">Profilni ko'rish</a>
          </div>
       </div>
    </div>
 
 </section>
 
 <section class="playlist-videos">
 
    <h1 class="heading">Darslar</h1>
 
    <div class="box-container">
      
      {% for video in videos %}
      <a class="box" href="{% url "watch_video" video.id %}">
         <i class="fas fa-play"></i>
         <img src="{% static 'images/post-1-1.png' %}" alt="">
         <h3>{{ video.name }}</h3>
      </a>
      {% endfor %}
 
    </div>
 
 </section>

{% endblock content %}