{% extends "base.html" %}
{% load static %}
{% block title %}<title>Playlist</title>{% endblock title %}


{% block content %}
<style>
/* Modal styling */
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0, 0, 0);
   background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   max-width: 500px;
   border-radius: 10px;
}

.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.modal-body p {
   font-size: 18px; /* Bu yerda font-size ni kattalashtiryapmiz */
}

.quiz-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
}

.quiz-box {
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 8px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 200px;
   margin: 10px;
   padding: 20px;
   transition: transform 0.3s, box-shadow 0.3s;
   text-decoration: none;
   color: #333;
   cursor: pointer;
}

.quiz-box:hover {
   transform: translateY(-10px);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.quiz-box i {
   font-size: 36px;
   margin-bottom: 10px;
   color: #007BFF;
}

.quiz-box h3 {
   font-size: 18px;
   margin: 0;
}
</style>

<section class="playlist-details">

    <h1 class="heading">playlist details</h1>
 
    <div class="row">
 
       <div class="column">
         <form action="" method="post" class="save-playlist">
            {% csrf_token %}
            <button type="submit">
                <i class="far fa-bookmark"></i> 
                <span>
                   {% if is_saved %}
                       <span style="color: green;">Playlistsdan olib tashlash</span>
                   {% else %}
                       Playlistga saqlash
                   {% endif %}
                </span>
            </button>
         </form>
    
          <div class="thumb">
             <img src="{{ subcategory.image.url }}" alt="">
             <span>{{ subcategory.videos_count }} ta video dars</span>
          </div>
       </div>
       <div class="column">
          <div class="tutor">
             <img src="{{ subcategory.teacher.profile.photo.url }}" alt="">
             <div>
                <h3>{{ subcategory.teacher.user.first_name }} {{ subcategory.teacher.user.last_name }}</h3>
                <span>{{ subcategory.created_at|date:"d-m-Y / H:i" }}</span>
             </div>
          </div>
    
          <div class="details">
             <h3>{{ subcategory.name }}</h3>
             <p>{{ subcategory.descriptions }}</p>
             {% if not is_purchased %}
               <h3><del style="text-decoration: line-through; font-size: 15px; color: red;">{{ subcategory.old_price }} so'm</del></h3>
               <h3>Narxi: {{ subcategory.price }} so'm</h3>
             {% endif %}

             <a href="{% url "teacher_profile" subcategory.teacher.id %}" class="inline-btn">O'qituvchi Profilni ko'rish</a>
             {% if is_purchased %}
               <h3 style="margin-top: 10px;"><i class="fa-solid fa-ranking-star"></i> Siz bu kursni sotib oldingiz</h3>
             {% else %}
                 {% if subcategory.course_type == "Paid"%}
                    <a href="{% url "playlist_pay" subcategory.id %}" class="inline-btn">Xarid qilish</a>
                 {% endif %}
             {% endif %}
          </div>
       </div>
    </div>
 
 </section>
 
 <section class="playlist-videos">
 
    <h1 class="heading">Darslar</h1>
 
    <div class="box-container">
      {% for video in videos %}
          {% if subcategory.course_type == "Paid" %}
              {% if is_purchased %}
                <a class="box" href="{% url "watch_video" video.id %}">
                   <i class="fas fa-play"></i>
                   <img src="{{ video.cover_image.url }}" alt="">
                   <h3>{{ video.name }}</h3>
                </a>
              {% else %}
                <div class="box">
                   <i class="fas fa-lock"></i>
                   <img src="{{ video.cover_image.url }}" alt="">
                   <h3>{{ video.name }}</h3>
                   <p>Videoni tomosha qilish uchun kursni xarid qilishingiz kerak</p>
                </div>
              {% endif %}
          {% else %}
              <a class="box" href="{% url "watch_video" video.id %}">
                  <i class="fas fa-play"></i>
                  <img src="{{ video.cover_image.url }}" alt="">
                  <h3>{{ video.name }}</h3>
              </a>
          {% endif %}
      {% endfor %}
    </div>
     
     <!-- Modal HTML -->
     {% if subcategory.course_type == "Paid" %} <!-- Agar pullik kurs bo'lsa -->
         {% if is_purchased %} <!-- Sotib olingan bo'lsa -->
             <div id="quizStartModal" class="modal">
              <div class="modal-content">
                  <span class="close">&times;</span>
                  <h5 style="font-size: 28px;">Start Quiz</h5>
                  <div class="modal-body" id="modal-body-confirm">
                      <!-- Modal content will be dynamically loaded here -->
                  </div>
                  <div class="modal-footer">
                      <button class="btn btn-danger" id="cancel-button">Cancel</button>
                      <button class="btn btn-success" id="start-button">Start</button>
                  </div>
              </div>
             </div>
        
          <div class="quiz-container">
              {% for quiz in quizzes %}
                  <div class="quiz-box" data-pk="{{quiz.pk}}" data-date="{{quiz.date}}" data-name="{{quiz.name}}"
                      data-description="{{quiz.description}}" data-topic="{{quiz.topic.name}}"
                      data-questions="{{quiz.number_of_questions}}" data-difficulty="{{quiz.difficulty}}"
                      data-time="{{quiz.time}}" data-pass="{{quiz.required_score}}">
                      <i class="fas fa-play"></i>
                      <h3>{{ quiz.name }}</h3>
                  </div>
              {% endfor %}
          </div> <!-- Sotib olingan bo'lsa -->
         {% else %} <!-- Sotib olingan bo'lmasa -->
             <div class="quiz-container">
                {% for quiz in quizzes %}
                    <div class="quiz-box locked">
                        <i class="fas fa-lock"></i>
                        <h3>{{ quiz.name }}</h3>
                        <p>Ushbu testni boshlash uchun kursni xarid qilishingiz kerak</p>
                    </div>
                {% endfor %}
             </div> <!-- Sotib olingan bo'lmasa -->
         {% endif %}
     {% else %} <!-- Bepul bo'lsa -->
         <div id="quizStartModal" class="modal">
             <div class="modal-content">
                 <span class="close">&times;</span>
                 <h5 style="font-size: 28px;">Start Quiz</h5>
                 <div class="modal-body" id="modal-body-confirm">
                     <!-- Modal content will be dynamically loaded here -->
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-danger" id="cancel-button">Cancel</button>
                     <button class="btn btn-success" id="start-button">Start</button>
                 </div>
             </div>
         </div>
        
         <div class="quiz-container">
             {% for quiz in quizzes %}
                 <div class="quiz-box" data-pk="{{quiz.pk}}" data-date="{{quiz.date}}" data-name="{{quiz.name}}"
                      data-description="{{quiz.description}}" data-topic="{{quiz.topic.name}}"
                      data-questions="{{quiz.number_of_questions}}" data-difficulty="{{quiz.difficulty}}"
                      data-time="{{quiz.time}}" data-pass="{{quiz.required_score}}">
                      <i class="fas fa-play"></i>
                      <h3>{{ quiz.name }}</h3>
                 </div>
             {% endfor %}
          </div>
     {% endif %}
 </section>

 <script>
   // Get the modal
   var modal = document.getElementById("quizStartModal");
   
   // Get the <span> element that closes the modal
   var span = document.getElementsByClassName("close")[0];
   const startButton = document.getElementById("start-button");
   
   // When the user clicks on the button, open the modal
   document.querySelectorAll('.quiz-box').forEach(item => {
       item.addEventListener('click', event => {
           document.getElementById("modal-body-confirm").innerHTML = `
               <p>Nomi: ${item.getAttribute('data-name')}</p>
               <p>Ma'lumot: ${item.getAttribute('data-description')}</p>
               <p>Kurs: ${item.getAttribute('data-topic')}</p>
               <p>Savollar: ${item.getAttribute('data-questions')}</p>
               <p>Darajasi: ${item.getAttribute('data-difficulty')}</p>
               <p>Vaqti: ${item.getAttribute('data-time')} daqiqa</p>
               <p>O'tish foizi: ${item.getAttribute('data-pass')}</p>
           `;
           modal.style.display = "block";
           quizId = item.getAttribute('data-pk');
           console.log(quizId);
       });
   });
   
   // When the user clicks on <span> (x), close the modal
   span.onclick = function() {
       modal.style.display = "none";
   }
   
   // When the user clicks on "Cancel" button, close the modal
   document.getElementById("cancel-button").onclick = function() {
       modal.style.display = "none";
   }
   
   // When the user clicks anywhere outside of the modal, close it
   window.onclick = function(event) {
       if (event.target == modal) {
           modal.style.display = "none";
       }
   }

   startButton.addEventListener('click', function () {
         // Quiz detail sahifasiga o'tish
         const url = `/courses/playlists/quiz/${quizId}/`; // URL yaratish
         window.location.href = url; // Sahifani o'zgartirish
   });
   </script>

{% endblock content %}