{% extends "base.html" %}
{% load static %}

{% block title %}<title>BioOlam | Asosiy sahifa</title>{% endblock title %}

{% block content %}
    <section class="home-grid">

    <h1 class="heading">Tezkor variantlar</h1>
 
    <div class="box-container">
 
       <div class="box">
          <h3 class="title">Layklar va izohlar</h3>
          <p class="likes">Layklar soni : <span>{{ total_likes }}</span></p>
          <p class="likes">Izohlar soni : <span>{{ total_comments }}</span></p>
       </div>
 
       <div class="box">
          <h3 class="title">Mashxur bo'limlar</h3>
          <div class="flex">
            {% for category in categories  %}
            <a href="{% url "category_detail" category.id %}"><i class="fa-solid fa-layer-group"></i><span>{{ category.name }}</span></a>
            {% endfor %}
          </div>
       </div>
 
       <div class="box">
          <h3 class="title">Mashxur kurslar</h3>
          <div class="flex">
            {% for subcategory in subcategories %}
            <a href="{% url "playlists_view" subcategory.id %}"><i class="fab fa-html5"></i><span>{{ subcategory.name }}</span></a>
            {% endfor %}
          </div>
       </div>
 
       <div class="box">
          <h3 class="title">O'qituvchi bo'ling</h3>
          <p class="tutor">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, nam?</p>
          <a href="{% url "teachers_view" %}" class="inline-btn"><i class="fa-solid fa-user-tie"></i>  Boshlang</a>
       </div>
 
    </div>
 
 </section>
 
 
 
 <section class="courses">
 
    <h1 class="heading">So'nggi kurslar</h1>
 
    <div class="box-container">
      
      {% for subcategory in subcategories %}
          {% if subcategory.course_type == "Paid" %}
              <div class="box">
                 <div class="tutor">
                     {% if subcategory.teacher.profile.photo %}
                         <img src="{{ subcategory.teacher.profile.photo.url }}" alt="">
                     {% else %}
                         <img src="{% static 'images/user.png' %}" alt="">
                     {% endif %}
                    <div class="info">
                       <h3>{{ subcategory.teacher.user.first_name }} {{ subcategory.teacher.user.last_name }}</h3>
                       <span>{{ subcategory.created_at|date:"d-m-Y / H:i" }}</span>
                    </div>
                 </div>
                 <div class="thumb">
                    <img src="{{ subcategory.image.url }}" alt="">
                    <span>{{ subcategory.videos_count }} ta video dars</span>
                 </div>
                 <h3 class="title">{{ subcategory.name }}</h3>
                 <p><del style="text-decoration: line-through; font-size: 12px; color: red;">{{ subcategory.old_price }} so'm</del></p>
                 <p style="font-size: 16px; color: green;"><b>Narxi {{ subcategory.price }} so'm</b></p>
                 <a href="{% url "playlists_view" subcategory.id %}" class="inline-btn">Playlistni ko'rish</a>
              </div>
          {% else %}
              <div class="box">
                 <div class="tutor">
                    {% if subcategory.teacher.profile.photo %}
                         <img src="{{ subcategory.teacher.profile.photo.url }}" alt="">
                     {% else %}
                         <img src="{% static 'images/user.png' %}" alt="">
                     {% endif %}
                    <div class="info">
                       <h3>{{ subcategory.teacher.user.first_name }} {{ subcategory.teacher.user.last_name }}</h3>
                       <span>{{ subcategory.created_at|date:"d-m-Y / H:i" }}</span>
                    </div>
                 </div>
                 <div class="thumb">
                    {% if subcategory.image %}
                        <img src="{{ subcategory.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'images/thumb-1.png' %}" alt=""> <!-- yoki default image -->
                    {% endif %}
                    <span>{{ subcategory.videos_count }} ta video dars</span>
                </div>
                 <h3 class="title">{{ subcategory.name }}</h3>
                 <p style="font-size: 20px; color: green;"><b><span style="color: red; font-weight: 900">BEPUL</span> <i class="fa-regular fa-handshake"></i></b></p>
                 <a href="{% url "playlists_view" subcategory.id %}" class="inline-btn">Playlistni ko'rish</a>
              </div>
          {% endif %}
       {% endfor %}
 
    </div>
 
    <div class="more-btn">
       <a href="{% url "courses_view" %}" class="inline-option-btn">view all courses</a>
    </div>
 
 </section>
{% endblock content %}
